<a href="https://colab.research.google.com/github/hemswor/test-colab/blob/main/intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Sales

# New Section

In [ ]:
revenue = 100000
tax = 0.19
income = revenue * tax 
income

19000.0

# plindrome

In [ ]:
def palindrome(number):
   
  word = number[::-1]

  if  number == word :
    return True 
  return False   
print(palindrome(363))

# prime factorization

In [6]:
def calculate(number):
  i= 2
    
  factor = []
  while i *i <= number :
    if not number % 2 == 0 :
      i += 1 
    else :
      number = number // i
      factor.append(i)
  if number > 1  :
      factor.append(number)   
  return max(factor) 

print(calculate(48))

3

# New Solution

In [ ]:
import numpy as np

np.__version__

'1.19.5'

# New summary

In [1]:
def calculate():
    numbers = []
    for i in range(100):
        if i % 5 == 0 or i % 7 == 0:
            numbers.append(i)
    total = sum(numbers)
    return total
 
 
print(calculate())

1580

fibbonachi problem

In [3]:
def calculate():
  total =0 
  a=0
  b =1
  while a < 1000000:
    if a % 2 == 0 :
      total += a 
    a,b = b,a+b 
     
     
  return total 

print(calculate())

1089154